<%= content_for :nav_right do %>
  <li>
    <a href="https://docs.google.com/document/d/1UsBLJQd9PW9KoWvrK-ZQSFYHRpZyo7smXPpVBadl3lo/edit" target="_blank">Quick Reference</a>
  </li>
<% end %>

<div class="container main-container">
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag 'name', @vile_program.name, maxlength: 15, id: 'vile_program_name', class: 'form-control', placeholder: 'Program Name' %>
    </div>
    <div class="col-md-6">
      <p>
        <button class="btn btn-md btn-default pull-right left-margin-button" id="runCode">Run Code</button>
        <button class="btn btn-md btn-default pull-right left-margin-button" id="checkSyntax">Check Syntax</button>
        <button class="btn btn-md btn-default pull-right left-margin-button" id="printQuadruplets">Print Quadruplets</button>
        <% if current_user.id != @vile_program.user_id && !@vile_program.new_record? %>
          <button class="btn btn-md btn-default pull-right left-margin-button" id="copyProgram">Copy Program</button>
        <% end %>
      </p>
    </div>
    <div class="col-md-12">
      <% if current_user.id == @vile_program.user_id || @vile_program.new_record? %>
        Owned by you
      <% else %>
        <%= "Ownder by #{@vile_program.user.user_name}" %>
      <% end %>
      <br>
    </div>
    <div class="col-md-12">
      <div style="width: 100%">
        <div id="blocklyDiv" style="height: 480px; width: 100%;"></div>
          <div class="col-md-6">
            <textarea id="blocklyConsole" name='blocklyConsole' style="height: 480px; width: 100%;"></textarea>
          </div>
          <div class="col-md-6">
            <textarea id="blocklyConsoleLog" name='blocklyConsoleLog' style="height: 480px; width: 100%;"></textarea>
          </div>
      </div>
    </div>
  </div>
</div>

<%= render '/vile/toolbox' %>

<% if @vile_program.id.nil? %>
  <xml id="startBlocks">
    <block type="vile_main" inline="false" x="20" y="20">
    </block>
  </xml>
<% else %>
  <%== @vile_program.xml_blocks %>
<% end %>

<script>
  $(function(){
    vile_program = new Vile.Code("<%=@vile_program.id%>", ("<%=current_user.id%>" == "<%= @vile_program.user_id%>" || "<%=@vile_program.new_record?%>" == 'true'))
  });
</script>