<!DOCTYPE html>
<html>
<head>
  <title>ViLe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">
  <%= render '/layouts/sweet_alerts' %>
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'ViLe_logo.png', class: "img-responsive" %>
      <% end %>
      <a class="navbar-brand" href="#page-top"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	 <li class="hidden">
			    <a href="#page-top"></a>
			  </li>
        <% if current_user %>
          <li>
            <%= link_to logout_path do %>
              Logout
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path do %>
              Login
            <% end %>
          </li>
          <li>
            <%= link_to new_registration_path do %>
              Register
            <% end %>
          </li>
          <!-- <a href="#myModal" class="portfolio-link" data-toggle="modal">Login</a> -->
          <%= render '/layouts/login_modal'  %>
        <% end %>
   			<%= yield :nav_right %>
      </ul>
    </div>
  </div>
</nav>
<%= yield %>

</body>

<footer class="text-center">
  <%= yield :footer %>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2016 ViLe
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
</html>
